* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header-title {
    font-weight: bold;
    color: #FF6D00;
}

.header-menu {
    color: #FF6D00;
}

main {
    padding: 10px 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post-username {
    font-weight: bold;
}

.post-body p {
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    border-radius: 10px;
}

.play-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.play-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.nav-item {
    text-align: center;
}

.nav-icon {
    width: 30px;
}

.post1{
    width: 50%;
}