* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FF6D00; /* Cor de fundo laranja */
}

.login-form {
    background-color: #ffffff; /* Cor de fundo branca */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px; /* Largura do formulário */
}

h2 {
    margin-bottom: 10px;
    color: #FF6D00; /* Cor do texto laranja */
}

h3 {
    margin-bottom: 20px;
    color: #FF6D00; /* Cor do texto laranja */
}

.textfield {
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #FF6D00; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e65c00; /* Cor do botão ao passar o mouse */
}

p {
    margin-top: 15px;
}

a {
    color: #FF6D00; /* Cor do link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}
